



.main-content{
    height: 100%;
    margin-left: 200px;
    padding: 20px;
  }
  
  .hrflex{
    display: block;
    height: 2px;
    border: 0;
    background-color: #235b4e;
    margin: 1em 0;
    padding: 0;
  }
  
  
  select{
    border-color: #9D2449;
    background-color: rgb(239, 238, 238);
  }
  .title{
        color: #235b4e;
    }

    /*inicia css de label flotante para los inputs
    /* Contenedor del input */
.input-container {
  position: relative;
  margin-top: 20px;
}

/* Estilos del input */
.input-container .form-control {
  border: 2px solid #BC955C; /* Color de borde por defecto */
  border-radius: 10px;
  padding: 0 15px;
  height: 40px; 
  font-family: "Montserrat", sans-serif;
  transition: border-color 0.3s ease; /* Transición suave para el cambio de color */
}

.input-container .form-control:focus {
  border-color: #235b4e; /* Color verde */
  outline: none; /* Opcional: elimina el contorno azul por defecto en algunos navegadores */
}

/* Estilos del label flotante, siempre en la parte superior */
.input-container .floating-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: absolute;
  top: -8px;
  left: 10px;
  color: #BB965C;
  font-size: 13px;
  background-color: white;
  padding: 0 5px;
  pointer-events: none;
}

.iconform{
  color: #235b4e;
    }
    .etiquetaicono{
      margin-left: 4px;
      font-weight: 700;
    }

    .btn-guardar{
      color: aliceblue;
      background-color: #BC955C;
      border-color: #9D2449;
      margin-top: 1rem;
      width: auto;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      }
      .btn-guardar:hover {
          color: aliceblue;
          background-color: #9D2449; /* Cambiar a un azul más claro */
          transform: scale(1.05); /* Aumentar un poco el tamaño al hacer hover */
        }

        .tableiconE{
          margin-right: 1em;
          color: burlywood;
          font-size: 1.5em;
      }
      .tableiconD{
          color: crimson;
          font-size: 1.5em;
      }
      .tablaiconos{
          display: flex;
      }