

<div class="container-fluid">
    <div class="col-form-container">
        <h2 class="title">Registro de Ausencias</h2>
        <div class="hrflex"></div>
        <i class=" iconform bi bi-person-circle"><span class="etiquetaicono">Datos del personal</span></i>
        
        <form 
             [formGroup]="ausenciasForm"
             
             class="row g-6 needs-validation"
             novalidate
             >
            <div class="row">
                <!-- Campo de Nombre -->
                <div class="col-md-3 mb-3">
                    <div class="input-container">
                    <label for="name" class="floating-label">Nombre</label>
                    <input formControlName = "name" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                </div>
                </div>
                <!-- Campo de Registro -->
                <div class="col-md-4 mb-3">
                    <div class="input-container">
                    <label for="registro" class="floating-label">Registro</label>
                    <input formControlName = "registro" type ="text" class="form-control" id="registro" placeholder="Registro" required>
                </div>
            </div>
                <div class="col-md-4 mb-4">
                    <div class="input-container">
                    <label for="autorizo" class="floating-label">Autorizo</label>
                    <input formControlName = "autorizo" type ="text" class="form-control" id="autorizo" placeholder="Autorizo" required>
                </div>
            </div>
            </div>
  
            <div class="row">
                <!-- Campo de Motivo -->
                <div class="col-md-6 mb-3">
                    <div class="input-container">
                    <label for="motivo" class="floating-label">Motivo</label>
                    <input formControlName ="motivo" type = "text" class="form-control" id="motivo" placeholder="Motivo" required>
                </div>
                </div>
                <!-- Campo de Fecha Inicio -->
                <div class="col-md-3 mb-3">
                    <div class="input-container">
                    <label for="fecha_inicio" class="floating-label">Fecha Inicio</label>
                    <input formControlName ="fecha_inicio" type="date" class="form-control" id="fecha_inicio" required>
                </div>
            </div>
                <!-- Campo de Fecha Término -->
                <div class="col-md-3 mb-3">
                    <div class="input-container">
                    <label for="fecha_termino" class="floating-label">Fecha Término</label>
                    <input formControlName ="fecha_termino" type="date" class="form-control" id="fecha_termino" required>
                </div>
            </div>
            
            </div>
  
  
            <div class="row">
          
                <div class="col-sm mb-4">
                  
                  <button (click)="agregarData()" type="submit" class="btn btn-guardar">Guardar</button>
                  
                </div>
              </div>
              
              </form>
  

    </div>
    <i class="iconform bi-table"><span class="etiquetaicono">Tabla de resultados</span></i>
    <div class="row">
        <div col-mb-3>
            <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Registro</th>
                        <th scope="col">Autorizo</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Termino</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of ausenciasService.ausencias; track $index) {
                        <tr>
                          
                            <td>{{item.name}}</td>
                            <td>{{item.registro}}</td>
                            <td>{{item.autorizo}}</td>
                            <td>{{item.motivo}}</td>
                            <td>{{item.fecha_inicio}}</td>
                            <td>{{item.fecha_termino}}</td>
                            <td><div class="tablaiconos"><a href="#"><i class="tableiconE bi bi-pencil-square"></i></a>  <a href="#"><i class="tableiconD bi bi-trash3-fill"></i></a></div></td>
                        </tr>
                        
                    }
                    
                </tbody>
            </table>
            

        </div>


    </div>

</div>